In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge, Lasso, ElasticNet
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBRegressor
from catboost import CatBoostRegressor
import warnings

In [2]:
df1 = pd.read_csv("notebook/data/student.csv")

In [3]:
df1.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
X = df1.drop(columns=['math_score'],axis=1)

In [5]:
y = df1['math_score']

In [6]:
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [7]:
y.head()

0    72
1    69
2    90
3    47
4    76
Name: math_score, dtype: int64

In [8]:
# Let's create a columntransformer with 3 types of transformers
num_features =  X.select_dtypes(exclude='object').columns
cat_features = X.select_dtypes(include='object').columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
        ("StandardScaler", numeric_transformer, num_features),
    ]
)

In [9]:
X = preprocessor.fit_transform(X)

In [10]:
X.shape

(1000, 19)

In [11]:
# Separate datasets into train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [12]:
X_train.shape, X_test.shape

((750, 19), (250, 19))

# Create an evaluate function to give all metrics after model training

In [13]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\ml projects\venv\lib\site-packages (1.7.0)
Requirement already satisfied: numpy>=1.22.0 in d:\ml projects\venv\lib\site-packages (from scikit-learn) (2.3.1)
Requirement already satisfied: scipy>=1.8.0 in d:\ml projects\venv\lib\site-packages (from scikit-learn) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in d:\ml projects\venv\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\ml projects\venv\lib\site-packages (from scikit-learn) (3.6.0)

In [17]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    r2_square = r2_score(true, predicted)
    return mae, mse, r2_square

In [19]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "ElasticNet": ElasticNet(),
    "Ridge": Ridge(),
    "SVR": SVR(),
    "DecisionTreeRegressor": DecisionTreeRegressor(),
    "RandomForestRegressor": RandomForestRegressor(),
    "KNeighborsRegressor": KNeighborsRegressor(),
    "CatBoostRegressor": CatBoostRegressor(verbose=0),
    "XGBRegressor": XGBRegressor(verbosity=0),
    "AdaBoostRegressor": AdaBoostRegressor(),
}

model_list = []
r2_list = []

for name, model in models.items():
    model.fit(X_train, y_train)

    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    train_mae, train_rmse, train_r2 = evaluate_model(y_train, y_train_pred)
    test_mae, test_rmse, test_r2 = evaluate_model(y_test, y_test_pred)

    print(f" Model: {name}")
    model_list.append(name)

    print(" Train Performance:")
    print(f"  - RMSE: {train_rmse:.4f}")
    print(f"  - MAE : {train_mae:.4f}")
    print(f"  - R²  : {train_r2:.4f}")

    print(" Test Performance:")
    print(f"  - RMSE: {test_rmse:.4f}")
    print(f"  - MAE : {test_mae:.4f}")
    print(f"  - R²  : {test_r2:.4f}")
    
    r2_list.append(test_r2)

    print("="*50, "\n")

 Model: Linear Regression
 Train Performance:
  - RMSE: 28.0608
  - MAE : 4.2383
  - R²  : 0.8743
 Test Performance:
  - RMSE: 30.0581
  - MAE : 4.3379
  - R²  : 0.8778
==================================================

 Model: Lasso
 Train Performance:
  - RMSE: 42.9223
  - MAE : 5.1837
  - R²  : 0.8077
 Test Performance:
  - RMSE: 44.2775
  - MAE : 5.2217
  - R²  : 0.8200
==================================================

 Model: ElasticNet
 Train Performance:
  - RMSE: 59.7348
  - MAE : 6.1549
  - R²  : 0.7324
 Test Performance:
  - RMSE: 63.1679
  - MAE : 6.3718
  - R²  : 0.7432
==================================================

 Model: Ridge
 Train Performance:
  - RMSE: 28.0642
  - MAE : 4.2368
  - R²  : 0.8743
 Test Performance:
  - RMSE: 30.0173
  - MAE : 4.3354
  - R²  : 0.8780
==================================================

 Model: SVR
 Train Performance:
  - RMSE: 44.4268
  - MAE : 4.9127
  - R²  : 0.8009
 Test Performance:
  - RMSE: 67.9661
  - MAE : 5.6024
  - R²  : 0.7237
==================================================

 Model: DecisionTreeRegressor
 Train Performance:
  - RMSE: 0.0833
  - MAE : 0.0200
  - R²  : 0.9996
 Test Performance:
  - RMSE: 57.9120
  - MAE : 5.9600
  - R²  : 0.7646
==================================================

 Model: RandomForestRegressor
 Train Performance:
  - RMSE: 5.3864
  - MAE : 1.8430
  - R²  : 0.9759
 Test Performance:
  - RMSE: 36.9327
  - MAE : 4.7507
  - R²  : 0.8499
==================================================

 Model: KNeighborsRegressor
 Train Performance:
  - RMSE: 33.5462
  - MAE : 4.5861
  - R²  : 0.8497
 Test Performance:
  - RMSE: 50.8760
  - MAE : 5.5208
  - R²  : 0.7932
==================================================

 Model: CatBoostRegressor
 Train Performance:
  - RMSE: 8.6697
  - MAE : 2.3221
  - R²  : 0.9612
 Test Performance:
  - RMSE: 35.7154
  - MAE : 4.6508
  - R²  : 0.8548
==================================================

 Model: XGBRegressor
 Train Performance:
  - RMSE: 0.7714
  - MAE : 0.5772
  - R²  : 0.9965
 Test Performance:
  - RMSE: 40.2765
  - MAE : 4.9605
  - R²  : 0.8363
==================================================

 Model: AdaBoostRegressor
 Train Performance:
  - RMSE: 33.3523
  - MAE : 4.7005
  - R²  : 0.8506
 Test Performance:
  - RMSE: 37.4158
  - MAE : 4.7739
  - R²  : 0.8479
==================================================